# Data Framing

---

**overview of dataframes, “data munging,” pandas, and numpy**

* Importing
* Structure of DataFrames
* Reading Data
* Viewing and Describing Data
* Slicing DataFrames
* Groupby
* NaN


#### ***reminder: hit "shift" + "enter" to run a cell***

----

### Importing

In [ ]:
# importing libraries, and nicknaming them
import pandas as pd
import numpy as np  # careful not to assign other variables to these

# current versions
print("Pandas version:",pd.__version__)
print("Numpy version:",np.__version__)

# dataframe viewing options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 30)
pd.set_option('display.precision', 5) # number of decimals to show

In [ ]:
# the docs for pandas are done really well, if you get stuck read the docs
# just take away the octothorpe for a line and run it

# pd.Series?
# pd.DataFrame?

----

### Structure

In [ ]:
# Series can be made from lists, a Series is a column

s = pd.Series(['a', 1, 'c', 3, np.nan]) # nan values are nothingness
s

In [ ]:
# there are a handful of ways to make a dataframe, one option is using a dict

df = pd.DataFrame({'A': 42.,
                   'B': ['The', 'answer', 'to', 'life'],
                   'C': pd.Timestamp('20200101'),
                   'D': np.arange(4)})
df

In [ ]:
# another option is to pass a matrix, and assign column names

df = pd.DataFrame(np.random.randn(4, 4), # 4x4 matrix of numbers drawn from N(0, 1)
                  columns=list('ABCD'))
df

----

### Reading Data

[source](http://archive.ics.uci.edu/ml/machine-learning-databases/adult) if you're interested

In [ ]:
# taking the wine data from UCI

cols = ['age', 'workclass', 'fnlwgt', 'education', 'education_num',
        'marital_status', 'occupation', 'relationship', 'ethnicity',
        'gender', 'capital_gain', 'capital_loss', 'hours_per_week',
        'country_of_origin', 'income']

df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',
                 names = cols)

----
### Viewing and Describing Data

In [ ]:
# use 'head' to see the first n rows

df.head(3)

In [ ]:
# info

df.info()

In [ ]:
# tail, same as head - note if we leave it blank the default is 5 rows

df.tail()

In [ ]:
# sample

df.sample(5, random_state=42) # pick a random state, stick to it

In [ ]:
# view the column names - not callable, it's a list

df.columns

In [ ]:
# view single column

df['age'] # alternatively df.age

In [ ]:
# viewing multiple columns

df[['occupation', 'gender', 'income']] # or assign col names to a list and pass the list name

In [ ]:
# column types instead of names

df.dtypes

In [ ]:
# renaming columns

df.columns = [col.lower() for col in df.columns]

df.head()

In [ ]:
# describe all columns - except for non-numeric ones

df.describe()

In [ ]:
# count the number of entries in each column

df.count()

In [ ]:
# get the unique values in a column

df['education'].unique()

In [ ]:
# reformatting the values of education with self-referencing

df['education'] = [entry.strip() for entry in df['education']]

df['education'].unique()

----
### Slicing and Filtering

In [ ]:
# get the 5th row - remember zero indexing

df.iloc[4]

In [ ]:
# multiple row slice

df.iloc[5:9]

In [ ]:
# selecting columns 3 - 6

df.iloc[:, 3:7].head()

In [ ]:
# row and column slice

df.iloc[7:11, 2:6]

In [ ]:
# find people who work over 40 hours, and give them a new dataframe

more_work = df[df['hours_per_week'] > 40]

more_work.describe()

In [ ]:
# filter on age and hours per week

df[(df['age'] < 25)&(df['hours_per_week'] > 40)]

In [ ]:
# EXERCISES:

# 1. fix the gender column

print(df['gender'].unique())

df['gender'] =  # same solution as earlier

df['gender'].unique()

In [ ]:
# 2. make new_df a slice of df containing females younger than 40 who work more than 25 hours per week

new_df = 

new_df

---

### Groupby

In [ ]:
# count the number of people with each level

df.groupby('education').size()

In [ ]:
# hours worked and capital gain by education

df.groupby('education')[['hours_per_week', 'capital_gain']].mean()

In [ ]:
# nested groups

df.groupby(['age', 'income'])['hours_per_week'].describe()

In [ ]:
# use agg to get more than one descriptive stat without describe

df.groupby(['age', 'income'])['hours_per_week'].agg(['count', 'mean'])

In [ ]:
# Excercises:

# 1. in new_df, how many records have ">50k"?

In [ ]:
# 2. does education help explain this?

----
### NaN (not a number) values

Pandas offers a ton of flexibility for handling nan values.

We can easily identify, drop, or fill nan values.

In [ ]:
# dataframe with nans

df = pd.DataFrame({'A': [np.nan, np.nan, np.nan, np.nan, np.nan],
                   'B': [5, 19, 9, np.nan, 1],
                   'C': [np.nan, 1, 12, 9, 7],
                   'D': [0, 2, 8, 1, np.nan]})
df

In [ ]:
# id cells with nans

df.isna()

In [ ]:
# drop rows with any nan values

df.dropna(how='any')

In [ ]:
# drop columns with all nans

df.dropna(axis=1, how='all')

In [ ]:
# wrapping the two together

df.dropna(axis=1, how='all').dropna()

In [ ]:
# we can also fill in nans

df.fillna(value=-1)